{% extends "songsapp/base.html" %}

{% block title %}
    Songs index.
{% endblock %}

{% block body_content %}

    {% load admin_urls %}
    {#<a href="{% url 'opts|admin_urlname:' %}">Add user</a>#}
    <div style="margin-left: 20px; margin-bottom: 15px;">

        <a href="{% url 'admin:songsapp_song_changelist' %}"
           class="btn btn-outline-primary">
            Go to admin
        </a>
    </div>

    {#<a href="{% url opts|admin_urlname:'delete' user.pk %}">Delete this user</a>#}
    {% if alphabet_songs_list %}
        <div class="list-group" style="width: 800px; margin-left: auto; margin-right: auto;">
            {% for song in alphabet_songs_list %}
                {#                <li class="list-group-item" style="margin-bottom: 10px; margin-left: 30px;">#}
                <a href="{% url 'songsapp:detail' song.id %}" class="list-group-item list-group-item-action "
                   style="margin-bottom: 10px; margin-left: 30px; background-color: slategray; color: ghostwhite;
                    border-radius: 10px;">{{ song.title }}</a>
                {#                </li>#}
            {% endfor %}
        </div>
    {% else %}
        <p>No songs.</p>
    {% endif %}

{% endblock %}