{% extends "songsapp/base.html" %}

{% block title %}
    Songs index.
{% endblock %}

{% block body_content %}

    <div class="container">
        <ol class="breadcrumb bread-primary">
            {% for parent in parents %}
                <li><a href="{% url 'songsapp:hierarchy' parent.id %}">{{ parent.name }}</a></li>
            {% endfor %}
            <li class="active">{{ node.name }}</li>
        </ol>
    </div>

    <h1 style="color: white; margin-left: 20px;">
        {{ node.name }}
    </h1>

    {% load admin_urls %}
    {#<a href="{% url 'opts|admin_urlname:' %}">Add user</a>#}
    <div style="margin-left: 20px; margin-bottom: 15px;">

        <a href="{% url 'admin:songsapp_song_changelist' %}"
           class="btn btn-outline-primary">
            Go to admin
        </a>
    </div>

    {% if children %}
        <div class="list-group" style="width: 800px; margin-left: auto; margin-right: auto;">
            {% for child in children %}
                {% if child.1 != None %}

                    <a href="{% url 'songsapp:song_content' child.1.id %}"
                       class="list-group-item list-group-item-action "
                       style="margin-bottom: 10px; margin-left: 30px; background-color: gray; color: ghostwhite;
                    border-radius: 10px;">{{ child.0.name }}</a>

                {% else %}

                    <a href="{% url 'songsapp:hierarchy' child.0.id %}" class="list-group-item list-group-item-action "
                       style="margin-bottom: 10px; margin-left: 30px; background-color: slategray; color: ghostwhite;
                    border-radius: 10px;">{{ child.0.name }}</a>

                {% endif %}

            {% endfor %}
        </div>
    {% else %}
        <p>Empty.</p>
    {% endif %}

{% endblock %}