{% extends "songsapp/base.html" %}

{% block title %}
    Songs index.
{% endblock %}

{% block body_content %}

    <h1 style="color: white; margin-left: 20px;">
        {{ node.name }}
    </h1>

    {% load admin_urls %}
    {#<a href="{% url 'opts|admin_urlname:' %}">Add user</a>#}
    <div style="margin-left: 20px; margin-bottom: 15px;">

        <a href="{% url 'admin:songsapp_song_changelist' %}"
           class="btn btn-outline-primary">
            Go to admin
        </a>
    </div>

    {% if node.children %}
        <div class="list-group" style="width: 800px; margin-left: auto; margin-right: auto;">
            {% for child in node.children %}
                {% if child.children|length == 0 %}

                    <a href="{% url 'songsapp:song_content' child.song.id %}" class="list-group-item list-group-item-action "
                       style="margin-bottom: 10px; margin-left: 30px; background-color: slategray; color: ghostwhite;
                    border-radius: 10px;">{{ child.name }}</a>

                {% else %}

                    <a href="{% url 'songsapp:hierarchy' child.id %}" class="list-group-item list-group-item-action "
                       style="margin-bottom: 10px; margin-left: 30px; background-color: slategray; color: ghostwhite;
                    border-radius: 10px;">{{ child.name }}</a>

                {% endif %}

            {% endfor %}
        </div>
    {% else %}
        <p>Empty.</p>
    {% endif %}

{% endblock %}