{% extends "songsapp/base.html" %}

{% block title %}
    Songs index.
{% endblock %}

{% block body_content %}

    {% load admin_urls %}
{#<a href="{% url 'opts|admin_urlname:' %}">Add user</a>#}
<a href="{% url 'admin:songsapp_song_changelist' %}">Go to admin</a>

{#<a href="{% url opts|admin_urlname:'delete' user.pk %}">Delete this user</a>#}

    {% if alphabet_songs_list %}
        <ul>
            {% for song in alphabet_songs_list %}
                <li>
                    <a href="{% url 'songsapp:detail' song.id %}">{{ song.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No songs.</p>
    {% endif %}

{% endblock %}