{% extends "songsapp/base.html" %}

{% block title %}
    {{ author.name }}
{% endblock %}

{% block body_content %}
<h1>
    {{ author.name }}
</h1>
    <br>
    {% if one_author_list %}
        <div class="songs_list">
            {% for song in one_author_list %}
                <a href="{% url 'songsapp:song_content' song.id %}">
                    <div class="songapp_box">
                        <div class="songapp_link">
                            {{ song.title }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No songs.</p>
    {% endif %}

{% endblock %}