{% extends 'songsapp/base.html' %}

{% load songsapp_extras %}

{% block body_content %}
    <div class="back_black">

        <h1 style="color: white; margin-left: 20px;">
            {{ song.title }}
        </h1>

        <ul>
            {% for r in song.realization_set.all %}
                <div class="song_text_style">
                    {#                    <b>#}
                    {#                        {{ r.create_date }}#}
                    {#                    </b>#}
                    <br />
                    {{ r.content|turn_tabs_to_spaces|linebreaksbr|chordify|color_song_keywords }}
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}